{% extends 'base.html.twig' %}
{% block body %}
    <center><h1>Bienvenue sur le site d'offre d'emplois ! </h1></center>
    <img src="{{asset('https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fcap.2F2019.2F05.2F28.2F09d16284-8697-455d-8dd2-6cb1f860442a.2Ejpeg/1200x630/background-color/ffffff/quality/70/cr/wqkgZXJodWkxOTc5IC8gR2V0dHkgSW1hZ2VzIC8gQ0FQSVRBTA%3D%3D/recrutement-management-comment-les-neurosciences-nous-aident-au-boulot-1339911.jpg')}}" alt="boulot1.jpg" />
{% endblock %}